# Changes here will be overwritten by Copier
_commit: {{ _copier_conf.vcs_ref_hash }}
_src_path: {{ _copier_conf.src_path }}
auth_password: {{ auth_password }}
auth_username: {{ auth_username }}
create_auth_user: {{ create_auth_user }}
log_level: {{ log_level }}
project_name: {{ project_name }}
traefik_acme_email: {{ traefik_acme_email }}
traefik_dashboard_host_devel: {{ traefik_dashboard_host_devel }}
traefik_dashboard_host_prod: {{ traefik_dashboard_host_prod }}
traefik_version: {{ traefik_version }}
