# Konfigurasi tambahan khusus untuk environment production
services:
  traefik:
    labels:
      - "traefik.enable=true"                                   # Aktifkan Traefik untuk container ini

      # Router untuk dashboard production (HTTPS via Let's Encrypt)
      - "traefik.http.routers.traefik.rule=Host(`traefik.toyscation.id`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"   # Gunakan entrypoint HTTPS
      - "traefik.http.routers.traefik.tls=true"                # Aktifkan TLS
      - "traefik.http.routers.traefik.tls.certresolver=letsencrypt"  # Gunakan Let's Encrypt resolver

      # Middleware untuk Basic Auth
      - "traefik.http.routers.traefik.middlewares=auth"        # Tambahkan middleware auth
      - "traefik.http.middlewares.auth.basicauth.usersfile=/conf/usersfile"  # File usersfile berisi user:hashed_password

      # Gunakan dashboard bawaan Traefik
      - "traefik.http.routers.traefik.service=api@internal"
