# Konfigurasi tambahan untuk environment production
services:
  traefik:
    labels:
      - "traefik.enable=true"  # Aktifkan Traefik untuk container ini

      # Dashboard di production, menggunakan HTTPS
      - "traefik.http.routers.traefik.rule=Host(`traefik.toyscation.id`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls=true"
      - "traefik.http.routers.traefik.tls.certresolver=letsencrypt"

      # Tambahkan basic auth
      - "traefik.http.routers.traefik.middlewares=auth"
      - "traefik.http.middlewares.auth.basicauth.usersfile=/etc/traefik/conf/usersfile"

      # Gunakan service internal untuk dashboard
      - "traefik.http.routers.traefik.service=api@internal"
