# File untuk konfigurasi produksi
version: "3.8"

services:
  traefik:
    labels:
      - "traefik.enable=true"

      # Router untuk dashboard di production (HTTPS)
      - "traefik.http.routers.traefik-prod.rule=Host(`traefik.toyscation.id`)"
      - "traefik.http.routers.traefik-prod.entrypoints=websecure"
      - "traefik.http.routers.traefik-prod.tls=true"
      - "traefik.http.routers.traefik-prod.service=api@internal"
      - "traefik.http.routers.traefik-prod.middlewares=auth"

      # Middleware untuk basic auth
      - "traefik.http.middlewares.auth.basicauth.usersfile=/etc/traefik/conf/usersfile"

      # TLS configuration
      - "traefik.http.routers.traefik-prod.tls.certresolver=letsencrypt"

    environment:
      - TZ=Asia/Jakarta

    volumes:
      - "./letsencrypt:/letsencrypt"  # Gunakan direktori yang sama di semua environment

    # Tambahkan network jika Anda ingin menghubungkan layanan lain seperti pgadmin
    networks:
      - traefik-public
