# Konfigurasi tambahan untuk environment production
services:
  traefik:
    labels:
      - "traefik.enable=true"  # Aktifkan Traefik untuk container ini

      # Router unik untuk dashboard production
      - "traefik.http.routers.traefik-prod.rule=Host(`traefik.toyscation.id`)"
      - "traefik.http.routers.traefik-prod.entrypoints=websecure"
      - "traefik.http.routers.traefik-prod.tls=true"
      - "traefik.http.routers.traefik-prod.tls.certresolver=letsencrypt"

      # Basic Auth Middleware
      - "traefik.http.routers.traefik-prod.middlewares=auth"
      - "traefik.http.middlewares.auth.basicauth.usersfile=/etc/traefik/conf/usersfile"

      # Dashboard bawaan Traefik
      - "traefik.http.routers.traefik-prod.service=api@internal"
