services:
  traefik:
    image: traefik:v2.11
    container_name: traefik
    restart: always

    command:
      - "--configFile=/etc/traefik/traefik.yml"
      - "/bin/sh"
      - "-c"
      - "touch /acme.json && chmod 600 /acme.json && traefik"

    ports:
      - "80:80"
      - "443:443"

    volumes:
      - "./traefik.yml:/etc/traefik/traefik.yml:ro"
      - "./conf:/etc/traefik/conf:ro"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "traefik_acme:/acme.json"

    networks:
      - traefik-public

networks:
  traefik-public:
    name: traefik-public

volumes:
  traefik_acme:
