version: "3.8"

services:
  traefik:
    image: traefik:v2.11
    container_name: traefik
    restart: always

    command:
      # Menentukan file konfigurasi utama
      - --configFile=/traefik.yml

    ports:
      # Buka port HTTP dan HTTPS di host
      - 80:80
      - 443:443

    volumes:
      # Mount file konfigurasi utama Traefik
      - ./traefik.yml:/traefik.yml:ro
      # Mount direktori berisi file otentikasi dashboard
      - ./conf:/conf:ro
      # Mount Docker socket agar Traefik bisa baca label container lain
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # Mount volume untuk menyimpan data sertifikat Let's Encrypt
      - traefik_acme:/acme.json

    networks:
      - traefik-public

networks:
  traefik-public:
    name: traefik-public    

volumes:
  traefik_acme:
    # Volume ini menyimpan acme.json secara internal oleh Docker
    # Tidak perlu file fisik di host
