# Konfigurasi statis Traefik
log:
  level: DEBUG

api:
  dashboard: true

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

certificatesResolvers:
  letsencrypt:
    acme:
      email: odoo@simetri-sinergi.id
      storage: /acme.json
      keyType: RSA4096
      httpChallenge:
        entryPoint: web
